
html {
  font-size: 100%;
}

body {
	margin:0;
	padding: 0;
	border: 0;
//	font-size: 100%:
	font: inherit;
	vertical-align: baseline;
// font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
 // font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}

section,nav {
	display: block;
}

#header {
	text-align: center;
	padding: 3em 0 0 0;
	background-color: #fff;
	background-image: url("images/background2.png"), url("images/background2.png"), url("images/background1.png");
	background-position: top left,                                  top left,                                       top left;
	background-size: 100% 6em,                                      100% 6em,                                       auto;
	background-repeat: no-repeat,                                   no-repeat,                                      repeat;
}

#page-body {
	backface-visibility: hidden;
	transition: transform 0.5s ease;
	padding-bottom: 1px;
	padding-top: 14px;
}

/* Banner  */
#banner {
	height: 18em;
	background-image: url("../images/banner.jpg");
	background-position: center center;
	background-size: cover;
	height: 28em;
	text-align: center;
	position: relative;
}

#banner header {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #212121;
	background: rgba(27, 27, 27, 0.75);
	color: #fff;
	padding: 1.5em 0;
}

#banner header h2 {
	display: inline-block;
	margin: 0;
	font-size: 1.25em;
	vertical-align: middle;
}

#banner header h2 em {
	opacity: 0.75;
}

#banner header h2 a {
	border-bottom-color: rgba(255, 255, 255, 0.5);
}

#banner header h2 a:hover {
	border-bottom-color: transparent;
}

#banner header .button {
	vertical-align: middle;
	margin-left: 1em;
}





