body {
    border: 10px solid #333799;
    width: 500px;
    text-align: center;
    background: #212725;
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
    color: #333799;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
}

#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #007dbf;
    display: inline-block;
}